# Node
node_modules/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
frontend/build/

#archivos sensibles
chat2.json
chat.json
credentials_db.txt
cuentaazure.txt
DESCRIPCION_PROYECTO.md
is.txt
chat.json
chat2.json    